
body {
    background: #f9fbfa;
}

* {
    color: #586c77;
}

.select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-grab {
    cursor: grab;
}

.side-container {
    width: 320px;
}

.chessboard-container {
    padding: 32px;
    width: 100vmin;
    height: 100vmin;
    margin: auto;
}

.card, .form-control, btn {
    border: none;
    border-radius: 4px;
}

#sign-in .form-group, #sign-up .form-group {
    height: 95px;
}

.validation-message-container .validation-message:not(:first-child) {
    display: none;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
.btn:focus, .btn:active {
    box-shadow: none !important;
}

.box {
    width: 200px;
    height: 200px;
}
